
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>AddProduct</h1>

@{  
    ViewBag.Title = "Asp.Net MVC Display image from byte array";  
}  
  
<h2>Asp.Net MVC Display image from byte array</h2>  
<img src="@ViewBag.ImageData"> 